body {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 80px;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 997;
    top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #5b85da;
    text-align: center;
}

#navbar a {
    text-decoration: none;
    position: relative;
    color: white;
    margin: 3%;
}

#navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

#navbar a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

#bottone-menu {
    width: 0px;
    height: auto;
}

#menuButton {
    visibility: hidden;
    height: 0px;
}

#menu {
    visibility: hidden;
    height: 0px;
}

#logo_navbar {
    height: 0px;
    width: auto;
    visibility: hidden;
}

.divisione {
    visibility: hidden;
}

#body-part {
    padding-bottom: 5%;
}

#map {
    height: 400px;
    width: 400px;
}

.image {
    border: 2px solid black;
    border-radius: 10px;
}

@media screen and (min-width: 1024px) {
    #body-part {
        display: inline-flex;
    }

    #section-work {
        margin-top: 25px;
        margin-left: 25%;
        width: 72%;
        height: 750px;
        max-height: 72%;
        overflow:auto;
        border: 2px solid darkcyan;
    }

    .image {
        width: 20vh;
        height: 20vh;
    }

    .articolo {
        padding-left: 0px;
        display: inline-flex;
    }

    .testo-articolo {
        padding-left: 10%;
    }
}

@media screen and (min-width:767px) and (max-width: 1024px) {
    #body-part {
        display: inline-flex;
    }
    
    #section-work {
        margin-left: 25%;
        width:72%;
        max-height: 72%;
        overflow:auto;
    }

    .image {
        margin-left: 10%;
        width: 50%;
        height: 15%;
    }

    .articolo {
        display: block;
    }

    .testo-articolo {
        padding-left: 10%;
    }
}

@media screen and (max-width: 767px) {
    #navbar {
        visibility: hidden;
        height: 0px;
    }

    #menuButton {
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 10px;
        border: none;
        cursor: pointer;
        z-index: 999;
        visibility: visible;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        background-color: #5b85da;
    }

    #menu {
        width: 250px;
        height: min-content;
        background-color: #5b85da;
        position: fixed;
        top: 50px;
        left: -251px;
        font-size: 20px;
        transition: all 0.3s ease-in-out;
        z-index: 998;
        visibility: visible;
    }

    #menu.open {
        left: 0px;
    }

    #menuButton.open {
        background-color: #5b85da;
    }

    #bottone-menu {
        height: 30px;
        width: auto;
    }

    #logo_navbar {
        height: 30px;
        width: auto;
        visibility: visible;
    }

    #menuButton:focus,
    #menuButton:active {
        outline: none;
    }

    .ciao{
        position: fixed;
    }

    #menu a {
        text-decoration: none;
        position: relative;
        color: white;
        margin: 3%;
    }
    
    #menu a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    
    #menu a:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }

    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    #body-part {
        display: inline-block;
    }

    #mappa-descr {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #map {
        width: 350px;
        height: 350px;
    }

    #section-work {
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
    }

    .image {
        width: 45%;
        height: auto;
    }

    .articolo {
        display: inline-block;
    }

    .divisione {
        visibility: visible;
    }
}